.home-page {
    margin: 20px auto;
    padding: 25px;
    max-width: 800px;
  }
  
  /* for the renderedItem  */
  .icon-div {
      display: flex;
      width: 25%;
      align-items: center;
  }
  
  .icon-div img {
      margin-right: 8px;
  }
  
  .crypto-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0
  }
  
  .rise-fall-wrapper {
      display: flex;
      gap: 4px;
      justify-content: start;
      align-items: center;
  }
  
  hr {
      background: rgb(240, 227, 227);
  }
  
  .crypto-header {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  }
  
  .table-row {
      border: 1px solid grey;
  }
  
  .logo {
      width: 25px;
      height: 25px;
  }
  
  .price-rise {
      color: green;
  }
  
  .price-fall {
      color: red;
  }
  .app-word {
      color: blueviolet;
  }
  
  .app-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  }
  
  button {
      padding: 10px 30px;
      color: aliceblue;
      background: blueviolet;
      outline: none;
      border: none;
      border-radius: 6px;
      height: 50px;
  
  }